<title>Acervo Biblioteca</title>

<h1>Acervo</h1>

<a href="{% url 'novo_livro' %}">Cadastrar novo livro</a>

<h2>Pesquisar</h2>

<form method="get">

    <label>Nome:</label>
    <input type="text" name="nome">

    <label>Tipo:</label>
    <select name="tipo">
        <option value="">Todos</option>

        {% for valor, nome in tipos_acervo %}
            <option value="{{ valor }}">{{ nome }}</option>
        {% endfor %}
    </select>

    <label>Categoria:</label>
    <select name="categoria">
        <option value="">Todas</option>

        {% for valor, nome in categorias %}
            <option value="{{ valor }}">
                {{ valor }} - {{ nome }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Pesquisar</button>

</form>

<p>
    <a href="{% url 'lista' %}">Limpar pesquisa</a>
</p>

<hr>

<ul>
    {% for livro in livros %}

        <li>
            {{ livro.titulo }} -
            {{ livro.autor }} -
            {{ livro.ano }} -
            {{ livro.get_tipo_acervo_display }} -
            {{ livro.get_categoria_display }}
        </li>

    {% empty %}

        <li>Nenhum livro encontrado.</li>

    {% endfor %}
</ul>